<configuration>
    <property name="LOG_DIR" value="./log" />

    <appender name="commandLineFile" class="ch.qos.logback.core.FileAppender">
        <file>./log/commandLineOptions.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG`</level>
        </filter>
        <append>false</append>
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSSS} %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="default" class="ch.qos.logback.core.FileAppender">
        <file>./log/default.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG`</level>
        </filter>
        <append>false</append>
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSSS} %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="default"/>
    </root>

    <logger name="com.epam.cdp.stat.ArgsStat" level="debug" additivity="false">
        <appender-ref ref="commandLineFile"/>
    </logger>
</configuration>